<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="card-style.css">
    <link rel="stylesheet" href="panel-style.css">
     <style>
        body {
            background: rgb(37, 37, 37);
        }
     </style>
</head>
<body>
    <form action="/" method="post">
        <div class="panel-parent">
            <ul class="panel" style="padding: 0;">
                <li>
                    <button type="submit" name="increment" value="+">&lsaquo;</button>
                </li>
                <li class="panel-text">
                    10.02 - 16.02<br>
                    I неделя
                </li>
                <li>
                    <button type="submit" name="decrement" value="-">&rsaquo;</button>
                </li>
            </ul>
        </div>
    </form>

    <output id="schedule"></output>

    <script>
        var page = document.getElementById("schedule")

        var subjects = "[[${subjects}]]".replace('[', '').replace(']', '').split(', ');
        var teachers = "[[${teachers}]]".replace('[', '').replace(']', '').split(', ');
        var lessonsTypes = "[[${lessonsTypes}]]".replace('[', '').replace(']', '').split(', ');
        var homeworks = "[[${homeworks}]]".replace('[', '').replace(']', '').split(', ');
        var times = "[[${times}]]".replace('[', '').replace(']', '').split(', ');

        for (var i = 0; i < subjects.length; i++) {
            page.innerHTML += `
                <div class="parent">
                    <div class="content">
                        <ul class="day-info">
                            <li>
                                <div class="text">
                                    <div class="subject">${i + 1}.</div>
                                </div>
                            </li>

                            <li>
                                <div class="text">
                                    <div class="subject">${subjects[i]} <br> (${lessonsTypes[i]})</div>
                                    <div class="additions">${teachers[i]}</div>
                                    <div class="additions homework">${homeworks[i] != "" ? "ДЗ: " + homeworks[i] : ""}</div>
                                </div>
                            </li>
                            
                            <li>
                                <div class="text">
                                    <div class="time">${times[i]}</div>
                                </div>
                            </li>
                        </ul>   
                    </div>
                </div>
            `
        }
    </script>
</html>