<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расписание уроков</title>
    <link rel="stylesheet" href="card-style.css">
    <link rel="stylesheet" href="panel-style.css">
    <style>
        body {
            background: rgb(37, 37, 37);
        }
    </style>
    <script src="main.js"></script>
</head>
<body>
    <form action="/r" method="post">
        <div class="panel-parent">
            <ul class="panel" style="padding: 0;">
                <li>
                    <button type="submit" name="value" value="-">&lsaquo;</button>
                </li>
                <li class="panel-text">
                    <div id="weekInfo"></div>
                </li>
                <li>
                    <button type="submit" name="value" value="+">&rsaquo;</button>
                </li>
            </ul>
        </div>
    </form>

    <div id="lessons"></div>
</body>
</html>
